#currentCountApple,
#currentCountAvocado,
#currentCountBanana ,
#currentCountStrawberry,
#currentCountMelon,
#currentCountMango {
  font-size: 40px;
  color: #fe9c0e;
  font-family: cursive;
}
#decrementButtonApple,
#decrementButtonAvocado,
#decrementButtonBanana,
#decrementButtonStrawberry,
#decrementButtonMelon,
#decrementButtonMango {
  font-family:monospace;
  font-size:35px;
  color: #fe9c0e;
}
#incrementButtonApple,
#incrementButtonAvocado,
#incrementButtonBanana,
#incrementButtonStrawberry,
#incrementButtonMelon,
#incrementButtonMango {
  font-family:monospace;
  font-size:35px;
  color: #fe9c0e;
  padding-left: 15px;
}
#decrementButtonApple:hover,
#decrementButtonAvocado:hover,
#decrementButtonBanana:hover,
#decrementButtonStrawberry:hover,
#decrementButtonMelon:hover,
#decrementButtonMango:hover{
  font-family:monospace;
  font-size:35px;
  color:orange;
  cursor: pointer;
}
#incrementButtonApple:hover,
#incrementButtonAvocado:hover,
#incrementButtonBanana:hover,
#incrementButtonStrawberry:hover,
#incrementButtonMelon:hover,
#incrementButtonMango:hover{
  font-family:monospace;
  font-size:35px;
  color:orange;
  padding-left: 15px;
  cursor: pointer;
}
.bar {

  z-index: 2;
  width: 100%;
  padding: 6px;
}

.show-cart li {
  display: flex;
}


.for-checkout {
  font-size: 450%;
  color: white;
  background-color: #7c9330;
  right: 20%;
  padding: 10px;
  border-radius: 50%;
  position: relative;
  opacity: 1;
  z-index: 2000;
  transition-duration: 0.6s;
  display: none;
}
.for-checkout2 {
  font-size: 450%;
  color: white;
  background-color: #7c9330;
  right: 20%;
  padding: 10px;
  border-radius: 50%;
  position: relative;
  opacity: 1;
  z-index: 2000;
  transition-duration: 0.6s;

}
.for-checkout:hover {
  right: 1%;
  padding: 10px;
  right: 15%;
  font-size: 470%;
  background-color: white;
  color: #7c9330;
  cursor: pointer;
  opacity: 1;
}
.for-checkout:hover {
  right: 1%;
  padding: 10px;
  right: 15%;
  font-size: 470%;
  background-color: white;
  color: #7c9330;
  cursor: pointer;
  opacity: 1;
}
.fixed-bottom {
  margin-bottom: 3%;
}
.total-count {
  font-family: cursive;
  font-size: 20px;
  position: absolute;
  top: 0%;
  font-weight: bolder;
  background-color: white;
  padding: 3% 6% 3% 6%;
  border-radius: 50%;
  color: #7c9330;
  right: -13%;

}
.total-count:hover {
  font-family: cursive;
  font-size: 21px;
  top: 0%;
  color: #7c9330;
  position: absolute;
  background-color: white;
  padding: 3% 6% 3% 6%;
  border-radius: 20px;
}

.delete-item {
  font-family: Raleway;
  padding: 3px 1px 3px 1px;
  color: #7c9330;
  font-size: 19px;

}
.delete-item:hover {
  cursor: pointer;

}
.minus-item, .plus-item {
  padding: 3px 1px 3px 1px;
  font-size: 22px;
}

.minus-item,
.plus-item:hover {
  padding: 3px 1px 3px 1px;
  font-size: 22px;
  cursor: pointer;
}

.cart-edit {
  font-size: 17px;
  font-weight: 600;
}
.item-count {
  font-size: 17px;
  font-weight: 600;
  border-radius: 20px;
}
#plus-button-style:before {
  color: #fe9c0e;
  padding: 5px;
}
#minus-button-style:before{
  color: #fe9c0e;
  padding: 5px;
}
#sticky-sidebar {
      position: -webkit-sticky;
      position: fixed;
      top: 12%;
      right: 2%;

}
#order-style {
  background-color:
}



.card-like {
  margin-top: 10%;
  margin-bottom: 50px;
  color: black;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  margin-left: -1%;
  padding: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.btn-irv {
  width: 100%;
  background: #038dab;
  color: #fff !important;
  font-weight: bold;
  padding: 10px 0;
  transition: all 0.3s;
}
.btn-irv:hover {
  background: #02738d;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn-irv-default {
  font-weight: bold;
  background: #bbb;
  color: #fff !important;
}
.btn-irv-default:hover {
  background: #aaa;
}

.wizard {
  overflow: hidden;
}
.wizard .wizard-header {
  margin-bottom: 30px;
}
.wizard .wizard-header h1 {
  margin-top: 0;
  margin-bottom: 20px;
}
.wizard .wizard-header h1 small {
  color: #bbb;
}
.wizard .wizard-header hr {
  border-color: #038dab;
  border-top-width: 2px;
}
.wizard .wizard-header .steps {
  height: 15px;
}
.wizard .wizard-header .steps .wizard-step {
  background: #038dab;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 0 10px;
  opacity: 0.2;
  border-radius: 50%;
  transition: all 0.8s;
}
.wizard .wizard-header .steps .wizard-step.active {
  opacity: 1;
}
.wizard .wizard-body {
  position: relative;
  transition: all 0.3s cubic-bezier(0.68, -0.3, 0.37, 0.6);
}
.wizard .wizard-body .step {
  transition: all 0.3s ease-in-out;
  position: absolute;
  width: 100%;
  top: 0;
  right: -100%;
  opacity: 0;
}
.wizard .wizard-body .step.initial {
  position: relative;
}
.wizard .wizard-body .step.off {
  opacity: 0 !important;
  right: 100% !important;
}
.wizard .wizard-body .step.active {
  right: 0;
  margin-left: 0;
  margin-top: 0;
  opacity: 1;
  transition: all 0.4s linear;
  transition-delay: 0.1s;
}
.wizard .wizard-footer {
  margin-top: 30px;
}

.image-background {
  background-image: url(../img/frootly-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;


}
.footer-style {
  background-color: #fe9c0e;

}
#show-basket {
  background-color: rgba(254, 156, 14, 0.9);
  z-index: 10;

}

@media only screen and (max-width: 767px) {
    #sticky-sidebar {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    #modal-sm-show {
        display: none;
    }
}
@media only screen and (max-width: 1440px) {
    .input-group .form-control:not(:first-child):not(:last-child) {
        text-align:center;
    }
}
