#currentCountApple,
#currentCountAvocado,
#currentCountBanana ,
#currentCountStrawberry,
#currentCountMelon,
#currentCountMango {
  font-size: 40px;
  color: #fe9c0e;
  font-family: cursive;
}
#decrementButtonApple,
#decrementButtonAvocado,
#decrementButtonBanana,
#decrementButtonStrawberry,
#decrementButtonMelon,
#decrementButtonMango {
  font-family:monospace;
  font-size:35px;
  color: #fe9c0e;
}
#incrementButtonApple,
#incrementButtonAvocado,
#incrementButtonBanana,
#incrementButtonStrawberry,
#incrementButtonMelon,
#incrementButtonMango {
  font-family:monospace;
  font-size:35px;
  color: #fe9c0e;
  padding-left: 15px;
}
#decrementButtonApple:hover,
#decrementButtonAvocado:hover,
#decrementButtonBanana:hover,
#decrementButtonStrawberry:hover,
#decrementButtonMelon:hover,
#decrementButtonMango:hover{
  font-family:monospace;
  font-size:35px;
  color:orange;
  cursor: pointer;
}
#incrementButtonApple:hover,
#incrementButtonAvocado:hover,
#incrementButtonBanana:hover,
#incrementButtonStrawberry:hover,
#incrementButtonMelon:hover,
#incrementButtonMango:hover{
  font-family:monospace;
  font-size:35px;
  color:orange;
  padding-left: 15px;
  cursor: pointer;
}
.bar {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding: 10px;
}

.show-cart li {
  display: flex;
}


.fa-shopping-basket {
  font-size: 450%;
  color: white;
  background-color: #7c9330;
  right: 20%;
  padding: 10px;
  border-radius: 50%;
  position: relative;
  opacity: 1;
  z-index: 2000;
  transition-duration: 0.6s;
  display: none;
}
.fa-shopping-basket:hover {
  right: 1%;
  padding: 10px;
  right: 15%;
  font-size: 470%;
  background-color: white;
  color: #7c9330;
  cursor: pointer;
  opacity: 1;
}
.fixed-bottom {
  margin-bottom: 3%;
}
.total-count {
  font-family: cursive;
  font-size: 20px;
  position: absolute;
  top: 0%;
  font-weight: bolder;
  background-color: white;
  padding: 3% 6% 3% 6%;
  border-radius: 50%;
  color: #7c9330;
  right: -13%;

}
.total-count:hover {
  font-family: cursive;
  font-size: 21px;
  top: 0%;
  color: #7c9330;
  position: absolute;
  background-color: white;
  padding: 3% 6% 3% 6%;
  border-radius: 20px;
}
#background-nav {
  background-image: url(../img/fruit_1.gif);
  background-repeat: no-repeat;
  background-size: 35%;
}
.delete-item {
  font-family: cursive;
  padding: 3px 1px 3px 1px;
  color: #7c9330;
  font-size: 16px;

}
.delete-item:hover {
  cursor: pointer;

}
.minus-item, .plus-item {
  padding: 3px 1px 3px 1px;
  font-size: 22px;
}

.minus-item,
.plus-item:hover {
  padding: 3px 1px 3px 1px;
  font-size: 22px;
  cursor: pointer;
}

.cart-edit {
  font-size: 17px;
  font-weight: 600;
}
.item-count {
  font-size: 17px;
  font-weight: 600;
}
#plus-button-style:before {
  color: #fe9c0e;
}
#minus-button-style:before{
  color: #fe9c0e;
}
