@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,800);
.snip1246 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  width: 100%;
}
.snip1246 img {
  max-width: 100%;
  vertical-align: top;
}
.snip1246 figcaption {
background-color: green;
margin-top: 0px;

}
.snip1246 h2,
.snip1246 p {
  margin: 0 0 15px;
}
.snip1246 h2 {
  font-weight: 620;
}
.snip1246 p {
  font-size: 1.0em;
}
.snip1246 .price {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 20px;
  padding: 0.2em 0em;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5em;
}
.cd-add-to-cart {
  margin-left: 55%;
  border: 1px solid #fe9c0e;
  padding: 0.7em 1em;
  font-size: 0.9em;
  text-decoration: none;
  font-weight: 600;
  border-radius: 3px;
}
.cd-add-to-cart:hover {
  color: #ffffff;
  background-color: #fe9c0e;
  text-decoration: none;
}
.snip1246:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}
.snip1246 figcaption,
.snip1246.hover figcaption {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.snip1246:hover:after,
.snip1246.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}
.price-style {
  font-size: 14px;
  background-color: #7c9330;
  color: white;
  margin-left:15%;
  border-radius: 6px;
  padding: 3px;
}
.spacing-small{
  padding-bottom: 6px;
}
